stream {
    upstream snmp_nodes {
{% for host in groups['nodes'] %}
        server {{ hostvars[host]['ansible_default_ipv4']['address'] }}:161;
{% endfor %}
    }

    server {
        listen 6000 udp;
        proxy_pass snmp_nodes;
        proxy_timeout 10s;
        proxy_responses 1;
    }
}
